
  

  .btn {
    border: none;
    background-color: rgb(131, 185, 131);
    color: rgb(14, 11, 11);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
   
  }
  body {
    background-color: rgb(131, 185, 131);
  }